<!DOCTYPE html>
<htm lang="pt-br">

    <head>
        <title>FAPALUN</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../css/site_stile.css" />
        <link rel="stylesheet" media="screen" href="../css/contato.css" />
    </head>

    <body>

            <header>
                    <h1 class="centro"> <b>FACULDADES PAULISTAS UNIDAS - FAPALUN</b> </h1>
                    <img src="img/logo1.jpg" alt="logo" class="img">
                    <h2 class="centro">Onde aprender também pode ser divertido.</h2>
                </header>
                <nav id="menu">
                    <h1>Menu Principal </h1>
                    <ol>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="cursos/Cursos.html">Cursos</a></li>
                        <li><a href="noticias.html">Notícias</a></li>
                        <li><a href="login.html">Academico</a></li>
                        <li><a href="contact.html">Contato</a></li>
                    </ol>
            </nav>
                <h2>Cadastro de Novos Alunos</h2>
            <div id="area">
			<form id="formulario" autocomplete="off">
				<fieldset class="centro">
					<legend class="legendaformulario">Área de Cadastro</legend>
					<label>Nome:</label><input class="campo_nome" type="text" placeholder="Nome"></br></br>
					<label>CPF:</label><input class="campo_cpf" type="number" placeholder="Somente Números"></br></br>
					<label>Data de nascimento:</label><input class="campo_data_nasc" type="date" placeholder="dd/mm/aaaa"></br></br>
					<label>Email:</label><input class="campo_email" type="email" placeholder="nome@provedor.com"></br></br>
					<label>Telefone:</label><input class="campo_telefone" type="number" placeholder="Somente Números"></br></br>
					<label>Endereço:</label><input class="campo_endereco" type="text" placeholder="Endereço, número"></br></br>
					<label>Complemento:</label><input class="campo_complemento" type="text" placeholder="ex: Fundos, casa3"></br></br>
					<input class="btn_submit" type="submit" value="Cadastrar">
				</fieldset>
			</form>
			</div>
            <footer class="centro"></br>
                <span><strong>Copyright ® 2017 – Fapalun – Todos os direitos reservados<strong></span>       
                
                    </footer>
    </body>

</html>