<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>FAPALUN</title>
        <meta charset="utf-8" />        
        <link rel="stylesheet" href="../css/cabecalho.css" />
        <link rel="stylesheet" href="../css/contato.css" />
        <link rel="stylesheet" href="../css/formulario_contato.css" />        
    </head>

    <body>
            <header class="interface">
                <div class="bloco">
                <h1 class="centro">FACULDADES PAULISTAS UNIDAS</br>FAPALUN</h1>
                <img src="../img/logo1.jpg" alt="logo" class="img">
            
                <nav id="menu">
                    <ul class="nav">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="cursos/cursos.html">Cursos</a></li>
                        <li><a href="noticias.html">Notícias</a></li>
                        <li><a href="login.html">Academico</a></li>
                        <li><a href="contact.html">Contato</a></li>
                    </ul>
                </nav>
            </header>
            
            <div id="formulario">
        
                <form class="formoid-solid-blue" style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:580px;min-width:150px" method="post"><div class="title"><h2>Contato</h2></div>
                    <div class="element-name"><label class="title"><span class="required">*</span></label><span class="nameFirst"><input placeholder="Primeiro Nome" type="text" size="8" name="name[first]" required="required"/><span class="icon-place"></span></span><span class="nameLast"><input placeholder="Último Nome" type="text" size="14" name="name[last]" required="required"/><span class="icon-place"></span></span></div>
                    <div class="element-email"><label class="title"><span class="required">*</span></label><div class="item-cont"><input class="large" type="email" name="email" value="" required="required" placeholder="Email"/><span class="icon-place"></span></div></div>
                    <div class="element-phone"><label class="title"></label><div class="item-cont"><input class="medium" type="tel" pattern="[+]?[\.\s\-\(\)\*\#0-9]{3,}" maxlength="24" name="phone" placeholder="Telefone" value=""/><span class="icon-place"></span></div></div>
                    <div class="element-select"><label class="title"><span class="required">*</span></label><div class="item-cont"><div class="medium"><span><select name="select" required="required">
                
                        <option value="Escolha o Assunto">Escolha o Assunto</option>
                        <option value="Financeiro">Financeiro</option>
                        <option value="Secretaria">Secretaria</option>
                        <option value="Vestibular">Vestibular</option>
                        <option value="Reclamação">Reclamação</option>
                        <option value="Sugestões">Sugestões</option>
                        <option value="Outros assuntos">Outros assuntos</option></select><i></i><span class="icon-place"></span></span></div></div></div>
                    <div class="element-textarea"><label class="title"><span class="required">*</span></label><div class="item-cont"><textarea class="medium" name="textarea" cols="20" rows="5" required="required" placeholder="Mensagem"></textarea><span class="icon-place"></span></div></div>
                <div class="submit"><input type="submit" value="Enviar"/></div>
                
                </form>

            </div>

            <footer class="centro">
                    Copyright ® 2017 – Fapalun – Todos os direitos reservados
            </footer>
    </body>
    
        </html>                
