<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>FAPALUN</title>
        <meta charset="utf-8" />        
        <link rel="stylesheet" href="../static/content/cabecalho.css" />
        <link rel="stylesheet" href="../static/content/login_style.css" />
    </head>

    <body>
            <header class="interface">
                <div class="bloco">
                <h1 class="centro">FACULDADES PAULISTAS UNIDAS</br>FAPALUN</h1>
                <img src="../static/img/logo1.jpg" alt="logo" class="img">
            
                <nav id="menu">
                    <ul class="nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="cursos.html">Cursos</a></li>
                        <li><a href="noticias.html">Notícias</a></li>
                        <li><a href="login.html">Academico</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </header>


            <h1 class="login">Login</h1>
            <form action="#" method="post">
                <fieldset class="grupo">
                        <div class="campo" id="ra">
                            <label for="ra">RA</label>
                            <input type="number" id="ra" name="ra" value="">
                        </div>
                        <div class="campo" id="senha">
                            <label for="senha">Senha</label>
                            <input type="password" id="senha" name="senha" value="">
                        </div>
                        <button type="submit" name="submit">Entrar</button>
                </fieldset>
            </form>



            <footer class="centro">
                Copyright ® 2017 – Fapalun – Todos os direitos reservados
            </footer>
    </body>

    </html>
