<<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>FAPALUN</title>
    <link rel="stylesheet" href="../css/cabecalho.css" />
    <link rel="stylesheet" href="../css/noticias.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<header>
        <h1 class="centro"> <b>FACULDADES PAULISTAS UNIDAS - FAPALUN</b> </h1>
        <img src="img/logo1.jpg" alt="logo" class="img">
        <h2 class="centro">Onde aprender também pode ser divertido.</h2>
    </header>
    <nav id="menu">
        <h1>Menu Principal </h1>
        <ol>
            <li><a href="../index.html">Home</a></li>
            <li><a href="cursos/Cursos.html">Cursos</a></li>
            <li><a href="noticias.html">Notícias</a></li>
            <li><a href="login.html">Academico</a></li>
            <li><a href="contact.html">Contato</a></li>
        </ol>
</nav>
<h3> Formação da Fapalun </h3>
<p align="justify"> A Faculdade de Exatas de São Paulo foi uma das pioneiras no Brasil na implatanção do curso
    de Ciêncas Contábeis e de melhor avaliação do Curso de Engenharia Elétrica pelo MEC nos anos de 1990.<br />
    A Faculdade de Ciências Humanas e Sociais de Ribeirão Pires foi a primeira Faculdade de Ciências Politicas do interior 
    do Estado de São Paulo a oferecer o Curso de Sociologia.Já a Faculdade de Medicina de Suzano foi a primeira
    Faculdade do Interior de São Paulo a conseguir ter um Hospital Universitário Próprio<br />
    Em 2000 durante o Congresso das Faculdades Particulares do Estado de São Paulo, cada Faculdade demostrou o seu
    melhor, e os diretores das mesmas, que na época já eram amigos, acreditaram que além do pionerismo de cada uma
     poderia haver uma sinergia entre elas na melhoria de seus cursos e das pesquisas desenvolvidas em cada uma das
     Faculdades.<br/>
     Já em 2001, os diretores levaram para o Conselho das Faculdades a idéia da fusão delas que impuseram uma condição 
     para o mesmo: Que fosse implantado um conselho Universitário com particição Tri partite igualitário, o que foi de 
     pronto aceito pelos mesmo, tendo sido concluída naquele ano.<br/>
     Os primeiros estudos conduzidos em conjunto foi sobre a melhora das proteses para amputados, que resultou em uma
     protese feita de uma liga metálica super leve.<br/>
     Hoje está em estudo uma prótese feita com circuitos elétricas e neurais que faça que ela tenha melhores respostas
     aos estimulos do célebro.<br/>
     Há também o trabalho de orientação financeira às pessoas individadas, e aos alunos de algumas escolas
     públicas.<br />
     </p>
     <h3 class="centro">Novos cursos</h3>
     <p align="justify">
         Foram atualizados no útimo dia 30 de agosto de 2017, a implantação do curso de Sistemas de Informação,
        o curso será ministrado nos Campus de São Paulo e Suzano, nos períodos da manhã e noturno com 40 vagas 
        por turno em ambas unidades.
     </p>
      <h3 class="centro"> Novo Campus Universitário</h3>
      <p>
             Antigo sonho das Faculdades Paulistas Unidas, acaba de ser autorizado a reforma e implantação do Campus
             Universitário na Mooca, no antigo prédio da Antartica, o mesmo contará com os mais modernos laboratórios 
             de Informática e Analises Médicas, bem com um Hospital Universitário com os mais modernos equipamentos.
             A turma inaugural será do 1º Semestre de 2015.
      </p>




    <footer class="centro"></br>
    Copyright ® 2017 – Fapalun – Todos os direitos reservados
    </footer>    
</body>
</html>
