<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>FAPALUN</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/content/cabecalho.css" />
        <link rel="stylesheet" href="../static/content/novos_style.css" />
    </head>

    <body>
        <div>

            <header class="interface">
                <div class="bloco">
                <h1 class="centro">FACULDADES PAULISTAS UNIDAS</br>FAPALUN</h1>
                <img src="../static/img/logo1.jpg" alt="logo" class="img">
                </div>
                <nav id="menu">
                    <ul class="nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="cursos.html">Cursos</a></li>
                        <li><a href="noticias.html">Notícias</a></li>
                        <li><a href="login.html">Academico</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </header>
            <h1 class="cadastro">Cadastro de Novos Alunos</h1>
            <div id="area">
                <form action="#" method="post">
                    <fieldset>
                        <fieldset class="grupo">
                            <div class="campo">
                                <label for="nome">Nome</label>
                                <input type="text" id="nome" name="nome" style="width: 10em" value="">
                            </div>
                            <div class="campo" id="sobrenome">
                                <label for="snome">Sobrenome</label>
                                <input type="text" id="snome" name="snome" style="width: 15em" value="">
                            </div>
                        </fieldset>
                        <div class="campo">
                            <label>Sexo</label>
                            <label>
                                <input type="radio" name="sexo" value="masculino"> Masculino
                            </label>
                            <label>
                                <input type="radio" name="sexo" value="feminino"> Feminino
                            </label>
                        </div>
                        <div class="campo">
                            <label for="email">E-mail</label>
                            <input type="text" id="email" name="email" style="width: 20em" value="">
                        </div>
                        <div class="campo">
                            <label for="telefone">Telefone</label>
                            <input type="text" id="telefone" name="telefone" style="width: 10em" value="" placeholder="Apenas Números">
                        </div>
                
                        <fieldset class="grupo">
                            <div class="campo">
                                <label for="endereco">Endereço</label>
                                <input type="text" id="endereco" name="endereco" style="width: 25em" value="">
                            </div>
                            <div class="campo">
                                <label for="cep" id="cep">CEP</label>
                                <input type="text" id="cep" name="cep" style="width: 10em" value="">
                            </div>
                        </fieldset>    
                        <fieldset class="grupo">
                            <div class="campo">
                                <label for="cidade">Cidade</label>
                                <input type="text" id="cidade" name="cidade" style="width: 10em" value="">
                            </div>
                            <div class="campo">
                                <label for="estado" id="estado">Estado</label>
                                <select name="estado" id="estado">
                                    <option value="">--</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
                                </select>
                            </div>
                        </fieldset>
                
                        <div class="campo">
                            <label for="curso" id="curso">Curso</label>
                            <select name="curso" id="curso">
                                <option value="">--</option>
                                <option value="Análise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
                                <option value="Sistemas de Informação">Sistemas de Informação</option>
                                <option value="Processos Gerenciais">Processos Gerenciais</option>
                                <option value="Jogos Digitais">Jogos Digitais</option>
                                <option value="Banco de Dados">Banco de Dados</option>
                                <option value="Engenharia Elétrica">Engenharia Elétrica</option>
                                <option value="Sociologia">Sociologia</option>
                                <option value="Ciêncas Contábeis">Ciêncas Contábeis</option>
                            </select>
                        </div>
                               
                        <button type="submit" name="submit">Enviar</button>
                        <button type="reset" name="reset">Limpar</button>
                    </fieldset>
                </form>
			</div>
            <footer>
                Copyright ® 2017 – Fapalun – Todos os direitos reservados
            </footer>
    </body>

</html>